{% extends 'services/base.html' %}

{% block title %}
    Main page
{% endblock %}


{% block content %}
   <h3>Welcome to our Auto_Service</h3>
   {% include 'includes/navbar.html' %}
    <p>Our auto service provides a wide range of services to improve your car.
        With us you can make driving your car more comfortable and safe.
        We have only highly qualified employees with extensive experience,
        so we guarantee high quality and accuracy.</p>
    {% include 'includes/contacts.html' %}
{% endblock %}